{
    "username" : "",
    "password" : "",
    "clientID" : "rq2a841j8f63fndu5lnbwzwmbzamoy",
    "channel": "",
    "cooldown": 5,    
    "soundsDir" : "sounds\\",
    "googleSheetsClientEmail" : "",
    "googleSheetsPrivateKey" : "",
    "beatSheetID" : "",
    "beatSpreadSheetID" : "",
    "beatGameSound" : "",
    "ownedGamesSpreadSheetID" : ""
}