{
    "username" : "",
    "password" : "",
    "clientID" : "",
    "channel": "",
    "channelID" : "",
    "googleSheetsClientEmail" : "",
    "googleSheetsPrivateKey" : "",
    "beatSheetID" : "",
    "beatSpreadSheetID" : ""
}